.textBlue {
  color: #060d57;
}

.tag{
  margin: 4px 4px 4px 0px;
  padding: 2px 6px;
  line-height: 18px;
  background-color: #eeeeee;
  color: #000542;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
}

body{
  background-color: #eeeeee;
}

.profileP{
  padding:15px;
}
.fab:hover{
  color:#060d57!important;
}

.fab{
  font-size: 2.2rem;
}

.img:hover{
  filter: brightness(75%);
}


